root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[Makefile]
indent_style = tab
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[*.sql]
indent_style = space
indent_size = 2

[*.{css,html,js,django}]
indent_style = space
indent_size = 2
